body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.header {
    margin-top: 20px;
}
.header h1 {
    font-size: 36px;
    font-weight: bold;
}
.nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.nav a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}
.nav a:not(:last-child) {
    border-right: none;
}
.nav a i {
    margin-right: 10px;
}